name: PR CI

on:
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

env:
  NODE_VERSION: '16.x'

jobs:
  build:
    name: Build and test
    if: github.head_ref != 'develop'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install packages
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Run tests
        run: npm run test

      - name: Build code
        env:
          REACT_APP_BUILD_ID: ${{ github.run_number }}-${{ github.run_id }}
        run: npm run build:dev
